@font-face {
  font-family: 'MasonChronicles';
  src: url('../fonts/MasonChronicles.woff') format('woff'),
       url('../fonts/MasonChronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*, *::after, *::before {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0) 0%, #141218 100%), linear-gradient(270deg, #141218 -3.38%, rgba(20, 18, 24, 0) 10.43%), linear-gradient(179.36deg, #141218 0.55%, rgba(20, 18, 24, 0) 8.71%),#141218 url('../img/background.jpg') no-repeat top right 20%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
}
.container {
  width: 91%;
  max-width: 1140px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 90px;
}
.menu-list {
  margin-right: auto;
  margin-left: 67px;
}
.menu-link {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 24px;
}
.social-link {
  margin-left: 20px;
  text-decoration: none;
}
.menu-button {
  display: none;
}
.genre {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
  display: block;
}
.rating{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.rating-number {
  font-size: 12px;
  line-height: 14px;
  margin-left: 9px;
}
.main-title {
  font-family: 'MasonChronicles', serif;
  font-size: 76px;
  line-height: 89px;
  margin-bottom: 10px;
}
.main-description {
  max-width: 458px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 40px;
}
.button {
  padding: 22px 72px;
  border: none;
  border-radius: 8px;
  background-color: #9D2929;
  font-size: 14px;
  color: #FFFFFF;
}
.main-content {
  display: flex;
  align-items: center;
  margin-bottom: 85px;
}
.play {
  background-color: #9D2929;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  position: relative;
  margin: auto
}
.play:before {
  content: '';
  width: 132px;
  height: 132px;
  background: #9D2929;
  opacity: 0.5;
  position: absolute;
  border-radius: 50%;
  left: -16px;
  top: -16px;
}
.play-image {
  position: relative;
  transform: translateX(5px);
}
/*slider*/
.swiper-container {
  max-width: 420px;
  margin-left: 0 !important;
}
.series {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  max-width: 450px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 30px;
  width: 164px;
  cursor: pointer;
}
.card__image {
  width: 164px;
  max-width: 100%;
  height: 113px;
  border-radius: 8px;
  object-fit: cover;
}
.overlay {
  position: relative;
}
.overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-image: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%);
}
.card__text {
  position: absolute;
  margin-bottom: 13px;
  margin-left: 13px;
}
.card-subtitle {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 2px;
}
.card-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.arrow {
  width: 32px;
  height: 23px;
  border: none;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

/* footer */
.footer {
  background-color: #141218;
  padding: 20px 0;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 290px;
}
.footer-link {
  font-size: 14px;
  color: #727174;
  text-decoration: none;
}
.copyright {
  font-size: 14px;
  color: #727174;
}

/* Responsive */
@media (max-width: 760px) {
  .play {
    display: none;
  }
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .copyright {
    display: block;
    margin-bottom: 8px;
  }
}

@media (max-width: 540px) {
  body {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0) 0%, #141218 100%), linear-gradient(270deg, #141218 -3.38%, rgba(20, 18, 24, 0) 10.43%), linear-gradient(179.36deg, #141218 0.55%, rgba(20, 18, 24, 0) 8.71%), #141218 url('../img/background.jpg') no-repeat top right 45%;
  }
  .container {
    width: 87%;
  }
  .menu-button {
    display: block;
    position: absolute;
    top: 40px;
    right: 35px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
  .menu-button::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -7px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s;
  }
  .menu-button::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 7px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s;
  }
  .menu-button-active {
    height: 0;
  }
  .menu-button-active::before {
    margin-top: 0;
    transform: rotate(45deg);
  }
  .menu-button-active::after {
    margin-top: 0;
    transform: rotate(-45deg);
  }
  .header {
    /* display: none; */
    flex-direction: column;
    position: absolute;
    top: -100%;
    right: 0;
    width: 250px;
    padding-bottom: 23px;
    background-color: #9d2929;
    transition: top 0.3s ease-in-out 0s;
  }
  .header-active {
    /* display: flex; */
    top: 0;
    transition: top 0.2s ease-in-out 0s;
  }
  .logo {
    margin-bottom: 25px;
  }
  .menu-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    order: 2;
    margin: auto;
  }
  .menu-link {
    margin: 0 0 17px 0;
  }
  .social {
    order: 1;
    margin-bottom: 22px;
  }
  .social-link:first-child {
    margin-left: 0;
  }
  /* main {
    min-height: 91.5vh;
  } */
  .series {
    width: 80%;
  }
  .swiper-container {
    width: 75%;
  }
  .main-content {
    margin: 220px 0 40px 0;
  }
  .main-title {
    font-size: 56px;
    line-height: 66px;
  }
  .main-description {
    margin-bottom: 25px;
  }
  .footer-menu {
    width: 276px;
  }
}